/*
NoMethodError: You have a nil object when you didn't expect it!
You might have expected an instance of Array.
The error occurred while evaluating nil.empty?

Backtrace:
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/tree/root_node.rb:23:in `render'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/engine.rb:248:in `block in render'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/engine.rb:248:in `render'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `each'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `each'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/plugin.rb:54:in `check_for_updates'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/sass-3.1.10/lib/sass/plugin/rack.rb:51:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/warden-1.1.0/lib/warden/manager.rb:35:in `block in call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/warden-1.1.0/lib/warden/manager.rb:34:in `catch'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/warden-1.1.0/lib/warden/manager.rb:34:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/actionpack-3.0.19/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/actionpack-3.0.19/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/methodoverride.rb:24:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/actionpack-3.0.19/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/actionpack-3.0.19/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/actionpack-3.0.19/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/actionpack-3.0.19/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/activerecord-3.0.19/lib/active_record/query_cache.rb:32:in `block in call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/activerecord-3.0.19/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/activerecord-3.0.19/lib/active_record/query_cache.rb:12:in `cache'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/activerecord-3.0.19/lib/active_record/query_cache.rb:31:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/activerecord-3.0.19/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/actionpack-3.0.19/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/activesupport-3.0.19/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/actionpack-3.0.19/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/sendfile.rb:106:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/actionpack-3.0.19/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/actionpack-3.0.19/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/railties-3.0.19/lib/rails/rack/logger.rb:13:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/runtime.rb:17:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/lock.rb:13:in `block in call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/lock.rb:13:in `synchronize'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/lock.rb:13:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/actionpack-3.0.19/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/railties-3.0.19/lib/rails/application.rb:168:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/railties-3.0.19/lib/rails/application.rb:77:in `method_missing'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/lint.rb:48:in `_call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/lint.rb:36:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/showexceptions.rb:24:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/commonlogger.rb:18:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/content_length.rb:13:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/chunked.rb:15:in `call'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/rack-1.2.8/lib/rack/handler/mongrel.rb:67:in `process'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:165:in `block in process_client'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:164:in `each'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:164:in `process_client'
/home/bertrama/explain/explainapp/.bundle/ruby/2.3.0/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:291:in `block (2 levels) in run'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "NoMethodError: You have a nil object when you didn't expect it!\A You might have expected an instance of Array.\A The error occurred while evaluating nil.empty?"; }
